@{
    ViewBag.Title = "個案檢視";
}

@Html.Action("DCIndexMenu")

<div class="panel panel-default">
    
    <div class="panel-body">
        <div class="panel-heading">
            血糖
        </div>
        <!-- 血糖 -->
        <div class="row">
            <div class="col-md-6">
                <div class=" col-sm-3">
                    <label>
                        <input type="radio" name="glucoseDay" checked="checked" value="7" id="rGlucose7" />
                        7天
                    </label>
                </div>
                <div class="col-sm-3">
                    <label>
                        <input type="radio" name="glucoseDay" value="14" id="rGlucose14" />
                        14天
                    </label>
                </div>
                <div class="col-sm-3">
                    <label>
                        <input type="radio" name="glucoseDay" value="30" id="rGlucose30" />
                        30天
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-sm-3">
                    <label>
                        <input type="radio" name="glucoseTime" value="7" checked="checked" id="rGlucoseAll" />
                        全部
                    </label>
                </div>
                <div class="col-sm-3">
                    <label>
                        <input type="radio" name="glucoseTime" value="14" id="rGlucoseAM" />
                        早上
                    </label>
                </div>
                <div class="col-sm-3">
                    <label>
                        <input type="radio" name="glucoseTime" value="30" id="rGlucosePM" />
                        中午
                    </label>
                </div>
                <div class="col-sm-3">
                    <label>
                        <input type="radio" name="glucoseTime" value="30" id="rGlucoseEM" />
                        晚上
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <label>
                * 統計
            </label>
        </div>
        <div class="row">
            <div class=" col-md-4 col-sm-3">

                <div>
                    <table class="table table-striped table-bordered" id="tbGlucose">
                        <thead>
                            <tr>
                                <th>最高</th>
                                <th>最低</th>
                                <th>平均</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>110</td>
                                <td>145</td>
                                <td>132</td>
                            </tr>
                        </tbody>
                    </table>
                    <canvas id="canvas" height="100" width="300"></canvas>
                </div>
            </div>
            <div class=" col-md-6 col-sm-3">
                <table class="table table-striped table-bordered" id="tbGlucose">
                   
                    <tbody>
                        <tr>
                            <td>過低</td>
                            <td>1</td>
                            <td rowspan="4"><canvas id="chart-area" width="300" height="300" />
                                <div id="divchart-area" class="chart-legend"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>過高</td>
                            <td>1</td>
                           
                        </tr>
                        <tr>
                            <td>良好</td>
                            <td>8</td>
                           
                        </tr>
                        <tr>
                            <td>總數</td>
                            <td>10</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
               
               
            </div>

        </div>
        <div class="col-sm-12">
            <label>
                * 趨勢圖
            </label>
        </div>
        <div class="=row">
            <div class="col-md-12">
                <canvas id="rice" width="900" height="400"></canvas>
                <div id="divrice" class="chart-legend"></div>
            </div>
            </div>

        <div class="col-sm-12">
            <label>
                * 數據
            </label>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered" id="tbGlucose">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>深夜</th>
                        <th>晨起</th>
                        <th colspan="2">早餐</th>
                        <th colspan="2">午餐</th>
                        <th colspan="2">晚餐</th>
                        <th>睡前</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>飯前</th>
                        <th>飯後</th>
                        <th>飯前</th>
                        <th>飯後</th>
                        <th>飯前</th>
                        <th>飯後</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8/1(一)</td>
                        <td></td>
                        <td></td>
                        <td>104<a class="link" href="#dayInfo" type="button" role="button" data-toggle="modal">&nbsp;*&nbsp;</a></td>
                        <td>197</td>
                        <td></td>
                        <td>108</td>
                        <td>123</td>
                        <td>189</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8/2(二)</td>
                        <td></td>
                        <td></td>
                        <td>101</td>
                        <td>197</td>
                        <td></td>
                        <td>190</td>
                        <td>152</td>
                        <td>188</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8/3(三)</td>
                        <td></td>
                        <td></td>
                        <td>101</td>
                        <td>197</td>
                        <td></td>
                        <td>190</td>
                        <td>152</td>
                        <td>188</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>8/4(四)</td>
                        <td></td>
                        <td></td>
                        <td>101</td>
                        <td>197</td>
                        <td></td>
                        <td>190</td>
                        <td>152</td>
                        <td>188</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>平均</td>
                        <td></td>
                        <td></td>
                        <td>107</td>
                        <td>193</td>
                        <td></td>
                        <td>143.25</td>
                        <td>142.75</td>
                        <td>186.3</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>標準差</td>
                        <td></td>
                        <td></td>
                        <td>4.75</td>
                        <td>4</td>
                        <td></td>
                        <td>30.85</td>
                        <td>13.52</td>
                        <td>3.09</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>筆數</td>
                        <td>0</td>
                        <td>0</td>
                        <td>4</td>
                        <td>4</td>
                        <td>0</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>0</td>
                    </tr>

                </tbody>
            </table>

        </div>
        </div>
 
    <div class="panel-body">
        <div class="panel-heading">
            @Reslang.Resource.Bloodpressure

        </div>
        <!-- 血壓 blood pressure-->
        <div class="row">
            <div class="col-md-6">
                <div class="col-sm-3">
                    <label>
                        <input type="radio" name="rPressureDay" value="7" checked="checked" id="rGlucose7" />
                        7天
                    </label>
                </div>
                <div class="col-sm-3">
                    <label>
                        <input type="radio" name="rPressureDay" value="14" id="rGlucose14" />
                        14天
                    </label>
                </div>
                <div class="col-sm-3">
                    <label>
                        <input type="radio" name="rPressureDay" value="30" id="rGlucose30" />
                        30天
                    </label>
                </div>
                </div>
        </div>
        <div class="col-sm-12">
            <label>
                * 趨勢圖
            </label>
        </div>
        <div class="=row">
            <div class="col-md-12">
                <canvas id="barBP" width="900" height="400"></canvas>
                <div id="divbarBP" class="chart-legend"></div>
            </div>
        </div>
        <div class="col-sm-12">
            <label>
                * 數據
            </label>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered" id="tbBP">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>舒張壓</th>
                        <th>收縮壓</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8/1(一)12:00</td>
                        <td>54</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>8/1(一)13:00</td>
                        <td>56</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>8/1(一)14:00</td>
                        <td>82</td>
                        <td>92</td>
                    </tr>
                    <tr>
                        <td>8/1(一)15:00</td>
                        <td>88</td>
                        <td>120</td>
                    </tr>
                    <tr>
                        <td>8/1(一)16:00</td>
                        <td>79</td>
                        <td>123</td>
                    </tr>
                    <tr>
                        <td>平均</td>
                        <td>70</td>
                        <td>100.25</td>
                    </tr>
                    <tr>
                        <td>標準差</td>
                        <td>15.17</td>
                        <td>11.88</td>
                    </tr>
                    <tr>
                        <td>筆數</td>
                        <td>5</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
 
    <div class="panel-body">
        <div class="panel-heading">
            生化檢驗
        </div>
        <!-- 生化檢驗 biochemical-->
        <div class="row">
            <table class="table table-striped table-bordered" id="tbBiochemical">
                <thead>
                    <tr>
                        <th></th>
                        <th>項目</th>
                        <th>2015/5/4</th>
                        <th>2016/8/2</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">糖尿病檢查</td>
                        <td>GluAC</td>
                        <td>80 mg/dl</td>
                        <td>86 mg/dl</td>
                        <td>↑</td>
                    </tr>
                    <tr>
                        <td>GluPC</td>
                        <td>80 mg/dl</td>
                        <td>80 mg/dl</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>HbA1C</td>
                        <td>4.8 %</td>
                        <td>4.8 %</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td rowspan="4">血脂肪檢查</td>
                        <td>CHOL</td>
                        <td>100 mg/dl</td>
                        <td>100 mg/dl</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>TG</td>
                        <td>130 mg/dl</td>
                        <td>130 mg/dl</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>HLD-C</td>
                        <td>60 mg/dl</td>
                        <td>68 mg/dl</td>
                        <td>↑</td>
                    </tr>
                    <tr>
                        <td>LDL-C</td>
                        <td>90 mg/dl</td>
                        <td>90 mg/dl</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td rowspan="2">肝臟功能檢查</td>
                        <td>SGOT</td>
                        <td>29 IU/L</td>
                        <td>29 IU/L</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>SGPT</td>
                        <td>44 IU/L</td>
                        <td>44 IU/L</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td rowspan="3">腎功能檢查</td>
                        <td>BUN</td>
                        <td>30 mg/dl</td>
                        <td>39 mg/dl</td>
                        <td>↑</td>
                    </tr>
                    <tr>
                        <td>Creatin</td>
                        <td>0.8 mg/dl</td>
                        <td>0.8 mg/dl</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>UA</td>
                        <td>4.4 mg/dl</td>
                        <td>4.8 mg/dl</td>
                        <td>↑</td>
                    </tr>
                    <tr>
                        <td rowspan="2">尿液檢驗</td>
                        <td>Protein</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Sugar</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
   
    <div class="panel-body">
        <div class="panel-heading">
            門診
        </div>
        <!-- 門診-->
        <div class="row">
            <table class="table table-striped table-bordered" id="tbDoctor">
                <thead>
                    <tr>
                        <th>看診日期</th>
                        <th>單位</th>
                        <th>看診醫生</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>7/11(一)17:00</td>
                        <td>姜姜診所</td>
                        <td>大姜</td>
                    </tr>
                    <tr>
                        <td>7/15(五)17:00</td>
                        <td>姜姜診所</td>
                        <td>大姜</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="panel-body">
        <div class="panel-heading">
            用藥
        </div>
        <!-- 用藥-->
        <div class="row">
            <table class="table table-striped table-bordered" id="tbDoctor">
                <thead>
                    <tr>
                        <th>服藥時間</th>
                        <th>藥名</th>
                        <th>劑量</th>
                        <th>頻率</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2016/08/24 11:38</td>
                        <td>Crestor 10mg 冠脂妥膜衣錠</td>
                        <td>1</td>
                        <td>早</td>
                    </tr>
                    <tr>
                        <td>2016/08/20 14:46</td>
                        <td>腸泌素</td>
                        <td>1</td>
                        <td>早</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

<!--預覽資訊-->
<div class="modal fade" id="dayInfo" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:40%;">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel1">
                    資訊
                </h4>
            </div>
            <div class="modal-body">
                今日運動1小時
                晚餐:火鍋
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" onclick=";">
                    確認
                </button>
            </div>
            @*<input type="hidden" name="jsfields" id="jsfields" value="" />*@
        </div>
    </div>
</div>
    @section scripts{
            <style>
        .chart-legend li span {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 5px;
            color:black;
        }
        .chart-legend li  {
            color: black;
        }
</style>
<script src="../Content/ColorAdmin/assets/plugins/chart-js/Chart.js"></script>
<script src="../Content/HorizontalBar/Chart.HorizontalBar.js"></script>
      

        <script>
            var FormWizard = function () {
                "use strict";
                return {
                    init: function () {
                        handleBootstrapWizards();
                    }
                };
            }();

            $(document).ready(function () {
                App.init();
                FormWizard.init();

            });
        </script>
        <script>
            var blue = '#2196F3',
        blueLight = '#64B5F6',
        blueDark = '#1976D2',
        aqua = '#03A9F4',
        aquaLight = '#4FC3F7',
        aquaDark = '#0288D1',
        green = '#009688',
        greenLight = '#4DB6AC',
        greenDark = '#00796B',
        orange = '#FF9800',
        orangeLight = '#FFB74D',
        orangeDark = '#F57C00',
        dark = '#212121',
        grey = '#9E9E9E',
        purple = '#673AB7',
        purpleLight = '#9575CD',
        purpleDark = '#512DA8',
        orange = '#FF9800',
        pink = '#E91E63',
        red = '#F44336';
            $(function () {
                $(".knob").knob();
                $('.circliful-chart').circliful();
            });
        </script>

        <script>

          
            //收縮壓
            var randomBPH = function () { return Math.round(Math.random() * 40 + 103) };
            //擴張壓
            var randomBPL = function () { return Math.round(Math.random() * 17 + 59) };
            //飯前血糖
            var randomGB = function () { return Math.round(Math.random() * 50 + 50) };
            //飯後血糖
            var randomGA = function () { return Math.round(Math.random() * 50 + 60) };

            var randomScalingFactor = function () { return Math.round(Math.random() * 40 + 103) };

            var barChartData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                    },
                    {
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,0.8)",
                        highlightFill: "rgba(151,187,205,0.75)",
                        highlightStroke: "rgba(151,187,205,1)",
                        data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                    }
                ]

            }
          

            var riceData = {
                labels: ["8/1", "8/2", "8/3", "8/4"],
                datasets:
                 [
                   {
                       label: "飯前",
                       fillColor: "rgba(255, 255, 255,0.2)",
                       strokeColor: "rgba(255,48 ,48,1)",
                       pointColor: "rgba(255 ,48 ,48,1)",
                       pointStrokeColor: "#fff",
                       pointHighlightFill: "#fff",
                       pointHighlightStroke: "rgba(220,220,220,1)",
                       data: [randomGB(), randomGB(), randomGB(), randomGB()]
                   },
                   {
                       label: "飯後",
                       fillColor: "rgba(255, 255, 255,0.2)",
                       strokeColor: "rgba(244,164 ,96,1)",
                       pointColor: "rgba(244 ,164, 96,1)",
                       pointStrokeColor: "#fff",
                       pointHighlightFill: "#fff",
                       pointHighlightStroke: "rgba(151,187,205,1)",
                       data: [randomGA(), randomGA(), randomGA(), randomGA()]
                   },
                   {
                       label: "晨起",
                       fillColor: "rgba(255, 255, 255,0.2)",
                       strokeColor: "rgba(0,139,69,1)",
                       pointColor: "rgba(0,139,69,1)",
                       pointStrokeColor: "#fff",
                       pointHighlightFill: "#fff",
                       pointHighlightStroke: "rgba(220,220,220,1)",
                       data: [randomGB(), randomGB(), randomGB(), randomGB()]
                   },
                   {
                       label: "睡前",
                       fillColor: "rgba(255, 255, 255,0.2)",
                       strokeColor: "rgba(	122,103,238,1)",
                       pointColor: "rgba(122,103,238,1)",
                       pointStrokeColor: "#fff",
                       pointHighlightFill: "#fff",
                       pointHighlightStroke: "rgba(151,187,205,1)",
                       data: [randomGB(), randomGB(), randomGB(), randomGB()]
                   }
                 ]
            }

            var bpData = {
                labels: ["8/1 12:00", "8/1 13:00", "8/1 14:00", "8/1 15:00"],
                datasets:
                 [
                   {
                       label: "收縮壓",
                       fillColor: "rgba(255, 255, 255,0.2)",
                       strokeColor: "rgba(255,48 ,48,1)",
                       pointColor: "rgba(255 ,48 ,48,1)",
                       pointStrokeColor: "#fff",
                       pointHighlightFill: "#fff",
                       pointHighlightStroke: "rgba(220,220,220,1)",
                       data: [randomBPH(), randomBPH(), randomBPH(), randomBPH()]
                   },
                   {
                       label: "擴張壓",
                       fillColor: "rgba(255, 255, 255,0.2)",
                       strokeColor: "rgba(244,164 ,96,1)",
                       pointColor: "rgba(244 ,164, 96,1)",
                       pointStrokeColor: "#fff",
                       pointHighlightFill: "#fff",
                       pointHighlightStroke: "rgba(151,187,205,1)",
                       data: [randomBPL(), randomBPL(), randomBPL(), randomBPL()]
                   }
                 ]
            }

            var randomScalingFactor = function () {
                return Math.round(Math.random() * 100);
            };

            var barChartData = {
                labels: ["100-129", "130-159"],
                datasets: [
                    {
                        fillColor: "rgba(160,160,50,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [4, 6]
                    }
                ]

            };

         
            var options1 =
{

    tooltipTemplate:"<%= label %> :"+ "<%= value %>" + "%",
    
    onAnimationComplete: function () {
        this.showTooltip(this.segments, true);
       
    },

    tooltipEvents: [],

    showTooltips: true
}

            var pieData = [
        {
            value: 9,
            color: "#F7464A",
            highlight: "#FF5A5E",
            label: "過高",
            labelColor: 'black',
            labelFontSize: "16"
            
        },
        {
            value: 82,
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "良好",
            labelColor: 'black',
            labelFontSize: "16"
        },
        {
            value: 9,
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "過低",
            labelColor: 'black',
            labelFontSize: "16"
        }

            ];

           
       
            window.onload = function () {
                //HorizontalBar
                var ctx = document.getElementById("canvas").getContext("2d");
                var chart = new Chart(ctx).HorizontalBar(barChartData, {
                    responsive: true,
                    barShowStroke: false
                });
                //Pie
                var ctx1 = document.getElementById("chart-area").getContext("2d");
                var myPie = new Chart(ctx1).Doughnut(pieData, options1)//.Pie(pieData, options);
                document.getElementById('divchart-area').innerHTML = myPie.generateLegend();
                //
                var rice = document.getElementById('rice').getContext('2d');
                var myRice=new Chart(rice).Line(riceData);
                document.getElementById('divrice').innerHTML = myRice.generateLegend();

                //
                var barBP = document.getElementById('barBP').getContext('2d');
                var mybarBP=new Chart(barBP).Line(bpData);
                document.getElementById('divbarBP').innerHTML =  mybarBP.generateLegend();
            };

           

        </script>
    }


