@{
    ViewBag.Title = "服務收案數";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-heading">
            服務收案數報表
        </div>
        <div>
            <div class="dt-buttons btn-group"><a class="btn btn-default buttons-copy buttons-html5 btn-sm" tabindex="0" aria-controls="data-table"><span>Copy</span></a><a class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0" aria-controls="data-table"><span>CSV</span></a><a class="btn btn-default buttons-excel buttons-html5 btn-sm" tabindex="0" aria-controls="data-table"><span>Excel</span></a><a class="btn btn-default buttons-pdf buttons-html5 btn-sm" tabindex="0" aria-controls="data-table"><span>PDF</span></a><a class="btn btn-default buttons-print btn-sm" tabindex="0" aria-controls="data-table"><span>Print</span></a></div>

            <table class="table table-striped table-bordered" id="tbGlucose">
                <thead>
                    <tr>
                        <th>單位</th>
                        <th>個案管理師</th>
                        <th>年度月份</th>
                        <th>收案數</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>你好診所</td>
                        <td>大大大</td>
                        <td>2015/2</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>你好診所</td>
                        <td>大大大</td>
                        <td>2015/2</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>你好診所</td>
                        <td>大大大</td>
                        <td>2015/2</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>你好診所</td>
                        <td>大大大</td>
                        <td>2015/2</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>你好診所</td>
                        <td>大大大</td>
                        <td>2015/2</td>
                        <td>20</td>
                    <tr>
                        <td>你好診所</td>
                        <td>大大大</td>
                        <td>2015/2</td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>